<h1 align="center">New Project Type</h1>
<form align="left" method="post">
    <span>Name</span><br/><input class="form-control" name="title" required="required"/>
    <br/><br/>
    <span>Prefix</span><br/><input class="form-control" name="prefix" required="required"/>
    <div align="center">
        <input class="btn" type="submit" value="Save"/>
    </div>
</form>
      