extends ../layout

block head
    script(src='/javascripts/jquery.jcarousel.min.js')
    script(src='/javascripts/images.js')

block content
    h1(align='center') Image Gallery
    div.image-viewer
      each img in imgs
        img(src='/images/#{img}' alt='#{img}').viewer-image
    div(align='center')
      button#back-arrow.btn.btn-default Back
      button#next-arrow.btn.btn-default Next
