extends ../layout

block head
    script(src='/javascripts/jquery.jcarousel.min.js')
    script(src='/javascripts/images.js')

block content
    h1(align='center') Image Gallery
    .jcarousel-wrapper
      .jcarousel
        ul(style='left: 0px; top: 0px;')
          each val in imgs
            li
              img(src='/images/#{val}', width='600', height='400', alt='val')
      p.jcarousel-pagination
    a.jcarousel-control-prev(href='#') ‹=
    a.jcarousel-control-next(href='#') =›
