<h1 align="center">New Archive Entry</h1>
<form align="left" method="post" enctype="multipart/form-data" class="real-submit"><span>Name</span><br/>
  <input class="form-control" name="name" required="required"/><br/><br/><span>Description</span><br/>
  <textarea class="form-control" name="description" required="required"></textarea><br/><br/><span>Downloads (optional)</span><br/>
  <div class="input-group">
    <label class="input-group-btn"><span class="btn btn-default">Browse
        <input type="file" name="downloads" style="display: none" multiple="multiple"/></span></label>
    <input class="form-control" type="text" readonly="readonly"/>
  </div><br/><br/>
  <div align="center">
    <input class="btn" type="submit" value="Save"/>
  </div>
</form>