extends ../layout

block content
  h1(align='center') New Archive Entry
  form(align='left' method='post')
    span Name
    br
    input(name='name' required).form-control
    br
    br
    span Description
    br
    textarea(name='description' required).form-control
    br
    br
    // some file uploading mechanism here
    div(align='center')
      input(type='submit' value='Save').btn
