header.navbar.navbar-default.navbar-fixed-top
    .container
        nav#nav.nav.navbar-nav
            li
                a.navbar-brand Dallen
            li#home
                a(href='/') Home
            li#prj-drop.dropdown
                a(class='dropdown-toggle' data-toggle='dropdown' href='#' id='btn-prj-drop') Projects&nbsp;
                    b.caret &nbsp;
                ul#drop.dropdown-menu.dropdown-menu-one-column
                    each prj in prjtyps
                      - var p = prj.type
                      li(id='#{p}')
                        a(href='/prj/#{p}') #{p}
                    if session.user && session.user.admin
                      li(id='new')
                        a(href='/prj/new') New Project
            li#map-I
                a(href='/maps') Maps
            li#twitch
                a(href='/twitch') Twitch Logger
            li#illeos
                a(href='/Illeos') Illeos Wiki
            li#images
                a(href='/Images') Images
            li#tunnel
                a(href='/tunnel') Tunnel
            li#tunnel
                a(href='/archive') Archives
        ul.nav.navbar-nav.navbar-right
            li
                a(href='/login?continue=')#login
                  if session.user
                    span.glyphicon.glyphicon-log-out
                    = ' Logout ' + session.user.name
                  else
                    span.glyphicon.glyphicon-log-in
                    = ' Login'
