header.navbar.navbar-default.navbar-fixed-top
    .container
        nav#nav.nav.navbar-nav
            li
                a.navbar-brand Dallen
            li#home
                a(href='/') Home
            li#prj-drop.dropdown
                a(class='dropdown-toggle' data-toggle='dropdown' href='#' id='btn-prj-drop') Projects&nbsp;
                    b.caret &nbsp;
                ul#drop.dropdown-menu.dropdown-menu-one-column
                    li#mcme-bukkit
                        a(href='/prj-mcme-bukkit') MCME Bukkit
                    li#bukkit
                        a(href='/prj-bukkit') Bukkit
            li#map-I
                a(href='/maps') Map
            li#twitch
                a(href='/twitch') Twitch Logger
            li#illeos
                a(href='/Illeos') Illeos Wiki
            li#tunnel
                a(href='/tunnel') Tunnel
            li#tunnel
                a(href='/prj-games') Archives
        ul.nav.navbar-nav.navbar-right
            li
                a(href='/login')
                    span.glyphicon.glyphicon-log-in 
                    = ' Login'
