extends ../layout

block content
    .container(align='center')
      h1 User List
      hr
      table(border=1 style="width: 80%; text-align: center;")
        tr
          td Username
          td Email
          td User Type
          td Edit
        each u, i in users
          tr
            td= u.username
            td= u.email
            td= u.user_type
            td
              a(href='/users/edit/#{u.username}').btn.btn-default edit
