extends ./layout

block content
  div.homecontent
    h1 Illeos Wiki
    p Welcome to the Illeos Wiki
    p.card.
      Currently there are very few pages, however I hope to change that. This doubles as a hobby project to build
      wiki software.
  div.sidebar
    p.card.centered
      b Recent Changes
    ul
      li [Page Name] Some change
