extends ../layout

block content
    h1 Illeos Wiki
    p Welcome to the Illeos Wiki
    p I am currently working on some Wiki software to run a Wiki on Illeos soon.
    p Once its ready pages will start popping up.