extends ../layout

block content
    .container
      h1(align='center') Welcome to Dallen&#39;s Landing
      hr/
      p This site is currently a work in progress but will soon have several image albums, compiled Bukkit plugins, silly games, and some other Minecraft Middle Earth stuff. Until then, enjoy the little that&#39;s here.
      br/
      p This site is powered by github pages, to find out more about github pages follow the link in the footer. To see the git reopsitory for this site click 
        a(href='https://github.com/DonoA/DonoA.github.io') here
