extends ../layout

block content
    .container
        h1(align='center') Welcome to Dallen&#39;s Landing
        hr/
        p This is the new landing for all things Dallen, feel free to checkout what I have, most of the stuff is pretty incomplete.
        br/
        p In the mean time here are some fancy balls to keep you occupied:
        br
        canvas(height="75" id="canvas" width = "1000").container
            script(src='/javascripts/balls.js')
