doctype html
html
  head
    title= title
    include ../layouts/head.jade
    script.
        function update_toolbar(){$("#sidenav").find(".active").each(function(i, ele) {$(ele).removeClass("active");});}
    
  body
    include ../layouts/header.jade
    block content