<h1><%= project.name %></h1>
<hr />
<div class="container">
  <div class="tab-content content-card">
    <div>
      <% if(project.repo) { %>
        <a href="<%= project.repo %>">Repository</a>
      <% } %>
      <p>
        <%- showdown.makeHtml(project.description) %>
      </p>
    </div>
  </div>
</div>