<h1 align="center">New Project</h1>
<form align="left" method="post">
  <span>Name</span><br/><input class="form-control" name="name" required="required"/>
  <br/><br/>
  <span>Url</span><br/><input class="form-control" name="url" required="required"/>
  <br/><br/>
  <span>Repo Url (optional)</span><br/><input class="form-control" name="repo"/>
  <br/><br/>
  <span>Description (optional)</span><br/><textarea class="form-control" name="description"></textarea>
  <br/><br/>
  <span>Readme Url (optional)</span><br/><input class="form-control" name="readme"/><br/><br/>
  <div align="center">
    <input class="btn" type="submit" value="Save"/>
  </div>
</form>
