extends ../layout

block content
    h1 Dallen's Tunnel
    div.input-group.container
        span.input-group-btn
            button(class='btn btn-default' type='button', onClick='location.href="http://tunnel.dallen.io/?url="+$("#url").val()') Go!
        input(type='text' placeholder='Tunnel to...' aria-describedby='sizing-addon1').form-control#url
